﻿@model Model.ShoppingCart

@{
    ViewBag.Title = "GetMyCart";
}

<h2>My Cart</h2>

<div>
    <h4>ShoppingCart</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>   
    @Html.ActionLink("Back to Products", "Products")
</p>
