﻿@model IEnumerable<Model.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<span>
    @Html.ActionLink("My Cart", "", "Customer")
</span>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>            
            <a href="javascript:addProductToMyCart('@Url.Action("AddToCart", "Customer", new { pId = item.Id })')" class="btn btn-link" onclick="disable(this)">Add to my cart</a>
            @Html.ActionLink("Details", "Details", new { id=item.Id })            
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/app")
}