﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shopping cart</h1>
    <p class="lead">Online shopping using asp.net MVC razor views, JS, MSSQL, EF 6.0 technologies.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Products</h2>
      
        <p>@Html.ActionLink("Manage Products", "Products", "Product", null, new { @class = "btn btn-default" })</p>        
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>@Html.ActionLink("Customer view", "Products", "Customer", null, new {@class="btn btn-default"})</p>
    </div>   
</div>